name: Release

on:
  push:
    tags:
      - '**'

permissions:
  contents: write

jobs:
  release:
    runs-on: windows-latest
    env:
      Project: Desktop
      Assembly_Name: AutoCaption
      Output_Folder: publish
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: Publish app
        run: dotnet publish $env:Project -c Release -o $env:Output_Folder --sc /p:AssemblyName=$env:Assembly_Name /p:PublishTrimmed /p:PublishReadyToRun

      - name: Download FFmpeg
        run: curl -L -o ffmpeg.zip https://github.com/BtbN/FFmpeg-Builds/releases/download/latest/ffmpeg-master-latest-win64-gpl.zip

      - name: Extract FFmpeg
        run: |
          $target = "$env:Output_Folder/tools"
          New-Item -ItemType Directory -Force -Path $target | Out-Null
          
          # Extract into the parent folder
          tar -xf ffmpeg.zip --directory $target
          
          # Find extracted folder and rename to "ffmpeg"
          $folder = Get-ChildItem $target -Directory | Where-Object { Test-Path "$($_.FullName)/bin/ffmpeg.exe" }
          if ($folder) {
            if (Test-Path "$target/ffmpeg") { Remove-Item "$target/ffmpeg" -Recurse -Force }
            Rename-Item -Path $folder.FullName -NewName "ffmpeg"
          }

      - name: Install OpenAI Whisper
        run: |
          & "$env:Output_Folder/tools/python/python.exe" -m pip install --upgrade torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121
          & "$env:Output_Folder/tools/python/python.exe" -m pip install openai-whisper

      - name: Zip up the App
        run: 7z a "Artifacts/$env:Assembly_Name.Windows.7z" "./$env:Output_Folder/*"

      - name: Upload Zip
        uses: actions/upload-artifact@v4
        with:
          name: Windows App Zip
          path: Artifacts

      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v2
        with:
          make_latest: true
          body: "unpack the appropriate archive and run AutoCaption.exe"
          draft: false
          prerelease: false
          files: |
            Artifacts/**
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}